body {
    font-family: 'Nunito', sans-serif;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.header {
    margin: 0 auto;
} 

.container-one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 130px;
}

.logo-header {
    padding-left: 220px;
    padding-right: 60px;
    padding-top: 10px;
    cursor: pointer;
}

.nav-header {
    width: 725px;
}
nav>ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav>ul>li {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    margin-right: 40px;
    cursor: pointer;
    padding-left: 17px;
    padding-top: 15px;
}

nav>ul>li:hover {
    font-weight: 800;
    color: #212353;
}

.btn-header {
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    margin-left: 110px;
    padding: 17px 29px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.btn-header:hover {
    background-color: rgba(211, 127, 204, 0.5);
    border-radius: 50px;
    border: 1px solid #5a11e2;
    font-weight: 550;
    color: #212353;
}

.arrow {
    padding-left: 20px;
    width: 20px;
    height: 14px;
}

h1 {
    margin: 0;
    width: 645px;
    height: 184px;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212353;
    padding: 0 715px 50px 220px;
}

.container-two-p {
    width: 385px;
    height: 120px;
    left: 240px;
    top: 474px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    padding: 0 980px 50px 220px;
}

p {
    margin: 0;
}

.btn-container-two {
    cursor: pointer;
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    border-style: none;
    margin-left: 220px;
    margin-bottom: 180px
}

.btn-container-two:hover {
    background-color: rgba(211, 127, 204, 0.5);
    border-radius: 50px;
    border: 1px solid #5a11e2;
    color: rgb(136, 57, 209);
}

.container-two-bg {
    position: absolute;
    width: 885px;
    height: 468px;
    left: 603px;
    top: 336px;
}

.container-three {
    width: 1117px;
    height: 560px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    margin-left: 220px;
    margin-bottom: 160px;
}

.container-three-h {
    width: 475px;
    height: 100px;
    font-weight: bold;
    font-size: 27px;
    display: flex;
    align-items: center;
    color: #212353;
    padding: 125px 92px 40px 550px;
}

.container-three-p {
    width: 474px;
    height: 170px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    padding: 0 93px 125px 550px;
}

.container-three-bg {
    position: absolute;
    top: 935px;
}

.container-four {
    margin-bottom: 175px;
}

.container-four-h {
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: #212353;
    margin-left: 596px;
    margin-bottom: 50px;
    padding-left: 120px;
}

.container-four-p {
    width: 584px;
    height: 58px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    text-align: center;
    margin-left: 507px;
    margin-bottom: 140px;
}

.wrap {
    display: flex;
}

.container-wrap {
    min-width: 519.27px;
    min-height: 355px;
}

.container-four-h1 {
    font-weight: normal;
    font-size: 22px;
    line-height: 130%;
    color: #212353;
    padding-left: 500px;
}

.container-four-p1 {
    width: 221px;
    height: 160px;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    padding-left: 500px;
}

.container-four-anchoor1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    text-decoration: none;
    cursor: pointer;
    padding-left: 500px;
}

.container-four-bg1 {
    position: absolute;
    left: 239px;
    top: 1946px;
}



.container-four-h2 {
    font-weight: normal;
    font-size: 22px;
    line-height: 130%;
    color: #212353;
    padding-left: 370px;
}

.container-four-p2 {
    width: 220px;
    height: 160px;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    padding-left: 370px;
}

.container-four-anchoor2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    text-decoration: none;
    cursor: pointer;
    padding-left: 370px;
}

.container-four-bg2 {
    position: absolute;
    left: 813px;
    top: 1944px;
}



.container-four-h3 {
    font-weight: normal;
    font-size: 22px;
    line-height: 130%;
    color: #212353;
    padding-left: 500px;
    margin-top: 105px;
}

.container-four-p3 {
    width: 221px;
    height: 160px;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    padding-left: 500px;
    
}

.container-four-anchoor3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    text-decoration: none;
    cursor: pointer;
    padding-left: 500px;
   
}

.container-four-bg3 {
    position: absolute;
    left: 220px;
    top: 2404px;
}



.container-four-h4 {
    font-weight: normal;
    font-size: 22px;
    line-height: 130%;
    color: #212353;
    padding-left: 370px;
    margin-top: 105px;
}

.container-four-p4 {
    width: 223px;
    height: 160px;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    padding-left: 370px;
}

.container-four-anchoor4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    text-decoration: none;
    cursor: pointer;
    padding-left: 370px;
}

.container-four-bg4 {
    position: absolute;
    left: 818px;
    top: 2367px;
}

.container-five {
    width: 1117px;
    height: 709px;
    background: #9C69E2;
    border-radius: 50px;
    margin-left: 220px;
    margin-bottom: 150px
}

.container-five-h {
    font-weight: bold;
    font-size: 26px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 85px 0 65px 95px;
}

.container-five-feedback {
    width: 949px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgb(89 44 153 / 30%);
    border-radius: 20px;
    margin: 0 76px 60px 93px;
    display: flex;
}

.container-avatar {
    margin: 60px 45px 180px 100px;
}

.feedback-h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    margin: 80px 420px 5px 0
}
h4 {
    margin: 0;
}

.feedback-a {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #9C69E2;
    text-decoration: none;
    margin-bottom: 20px;
}

.feedback-a:hover {
    font-size: 15px;
    color: #e269d2;
}

.feedback-p {
    width: 566.46px;
    height: 130px;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
}

.dots-img {
    margin-left: 93px;
}

.dots-img>img {
    padding-right: 10px;
    cursor: pointer;
}

.dots-pink:hover {
    content: url(../images/Ellipse\ 72.svg);
}

.arrow-1 {
    position: absolute;
    left: 1170px;
    cursor: pointer;
}

.arrow-2 {
    position: absolute;
    left: 1225px;
    cursor: pointer;
}