body {
    font-family: 'Nunito', sans-serif;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.header {
     margin: 0 auto;
} 

.container-one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 130px;
}

.logo-header {
    padding-left: 220px;
    padding-right: 60px;
    padding-top: 10px;
    cursor: pointer;
}

.nav-header {
    width: 725px;
}
nav>ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav>ul>li {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    margin-right: 40px;
    cursor: pointer;
    padding-left: 17px;
    padding-top: 15px;
}

nav>ul>li:hover {
    font-weight: 800;
    color: #212353;
}

.btn-header {
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    margin-left: 110px;
    padding: 17px 29px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.btn-header:hover {
    background-color: rgba(211, 127, 204, 0.5);
    border-radius: 50px;
    border: 1px solid #5a11e2;
}

.arrow {
    padding-left: 20px;
    width: 20px;
    height: 14px;
}

.container-one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 50px;
    padding-bottom: 130px;
}

h1 {
    margin: 0;
    width: 645px;
    height: 184px;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212353;
    padding: 0 715px 50px 220px;
}

.container-two-p {
    width: 385px;
    height: 120px;
    left: 240px;
    top: 474px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    padding: 0 980px 50px 220px;
}

p {
    margin: 0;
}

.btn-container-two {
    cursor: pointer;
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    border-style: none;
    margin-left: 220px;
    margin-bottom: 200px
}

.btn-container-two:hover {
    background-color: rgba(211, 127, 204, 0.5);
    border-radius: 50px;
    border: 1px solid #5a11e2;
    color: rgb(136, 57, 209);
}

.container-two-bg {
    position: absolute;
    width: 885px;
    height: 468px;
    left: 603px;
    top: 336px;
}
